* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #15202b;
  color: #e7e9ea;
  font-family: 'roboto', sans-serif;
}

#tweet {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #71767b;
  padding: 12px;
}

.tweet_img {
  margin: 8px;
}

.name {
  font-weight: 700;
}

.nickname {
  font-weight: 400;
}

@media (min-width: 800px) {
}
